[submodule "vim/bundle/rainbowParens"]
	path = vim/bundle/rainbowParens
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vimClojureStatic"]
	path = vim/bundle/vimClojureStatic
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/bundle/vimFireplace"]
	path = vim/bundle/vimFireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-salve"]
	path = vim/bundle/vim-salve
	url = git@github.com:tpope/vim-salve.git
[submodule "vim/bundle/vimProjectionist"]
	path = vim/bundle/vimProjectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
